.modal__button {
  background: none;
  color: #ffffff;
  position: absolute;
  top: -36px;
  right: -36px;
  z-index: -10;
  outline: none;
  border-style: none;
}

.modal__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 705px) {
  .modal__button {
    right: 0px;
    top: -45px;
  }
}
