.elements__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 15px 25px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
