.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto;
  list-style-type: none;
}

@media screen and (max-width: 400px) {
  .elements {
    column-gap: 0px;
  }
}
