.modal__container {
  width: 430px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 705px) {
  .modal__container {
    margin: auto 0;
    width: 282px;
  }
}
