.profile__name {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0 0 16px 0;
}

@media screen and (max-width: 1115px) {
  .profile__name {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
}
